@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,300&display=swap");

:root {
    /* cores*/

    --primario: #0a2463;
    --primario-hover: #09193d;
    --secundario: #0f3591;
    --secundario-hover: #0f3591;
    --contraste: #ffef91;
    --texto-primario: #333333;
    --texto-secundario: #696969;
    --borda: #c8c8c8;
    --background: #fdfdfd;
    --background2: #ebebeb;
    --background3: #f8f8f8;
    /*escala*/
    --1x: 0.25rem;
    --2x: 0.5rem;
    --3x: 0.75rem;
    --4x: 1rem;
    --5x: 1.25rem;
    --6x: 1.5rem;
    --7x: 1.75rem;
    --8x: 2rem;
    --9x: 2.25rem;
    --10x: 2.75rem;
    --20x: 5.25rem;
    /*font-size*/
    --muito-muito-pequeno: 10px;
    --muito-pequeno: 14px;
    --pequeno: 16px;
    --mediano: 18px;
    --medio: 20px;
    --grande: 24px;
    --muito-grande: 28px;
    --titulo: 32px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-radius: 2px;
    transition: all 0.1s ease-in;
    font-family: "Poppins", sans-serif;
    scroll-margin-top: 80px;
}
html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-wrap: wrap;
    background: var(--background);
}

/* ============ textos =========== */
h1 {
    color: white;
    letter-spacing: 1px;
    font-size: var(--titulo);
    font-weight: 600;
}
h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: var(--titulo);
    color: var(--texto-primario);
}
h3 {
    padding-top: var(--10x);
    font-size: var(--muito-grande);
    font-weight: 600;
    text-transform: uppercase;
    color: var(--secundario);
}
h4 {
    font-size: var(--grande);
    color: var(--texto-primario);
}
p {
    font-size: var(--pequeno);
    color: var(--texto-secundario);
    text-align: justify;
    padding: var(--1x) 0;
}
span {
    font-size: var(--muito-pequeno);
}
a {
    cursor: pointer;
    text-decoration: none;
}

/*============ imagem ============== */
img {
    object-fit: cover;
}

/*=========== containers ==============*/
header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primario);
    padding: 0 8%;
    height: 80px;
    position: fixed;
    z-index: 100;
}
nav {
    color: white;
    display: flex;
    gap: var(--8x);
}
main {
    width: 68%;
    padding-top: 40px;
    padding-left: var(--7x);
    display: flex;
    flex-direction: column;
    gap: var(--10x);
    min-height: 400px;
}
section {
    display: flex;
    flex-direction: column;

    padding: var(--10x) var(--3x);
}

aside {
    width: 30%;

    min-height: 300px;
}
footer {
    width: 100%;
}
/*============= NavBar ============== */
.navLink {
    text-decoration: none;
    font-size: var(--pequeno);
    letter-spacing: 1px;
    color: white;
}
.navLink:hover {
    color: var(--contraste);
}
/* ============= Artigos =============== */
.CardDeArtigo {
    padding-top: var(--8x);
    display: flex;
    gap: var(--4x);
    aling-items: center;
    justify-content: center;
    padding-bottom: var(--3x);
    border-bottom: solid 1px var(--borda);
}
.CardDeArtigo:hover {
    background: var(--background3);
}
.CardDeArtigo:hover h4 {
    color: var(--secundario);
}
.imagemCardDeArtigo {
    width: 340px;
    height: 100%;
    object-fit: cover;
}
.imagemCardDeArtigo:hover {
    filter: brightness(80%);
}
.conteudoCardDeArtigo {
    display: grid;
    gap: var(--2x);
    padding-right: var(--10x);
}
/* ============== noticias =============== */
#noticias h3, #noticias h4 {
    padding-bottom: vaR(--3x);
}

/* =========== tabela artigos =============*/
table {
    margin-top: var(--4x);
    align-items: center;
}
th {
    text-align: center;
    font-weight: 600;
}

td {
    padding: var(--2x);
    border-top: 1px solid var(--borda);
    color: var(--texto-secundario);
    margin: 0;
}
tr:hover {
    background: var(--background2);
}

/* =============== Seção de Videos =========== */
#videos {
    padding: var(--10x) 1%;
}
#videoPrincipal {
    margin: var(--10x) 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--2x);
    width: 100%;
}

.carrosselDeVideos {
    display: flex;
    overflow: scroll;
    gap: var(--4x);
}
/* ================ scrollbar ============*/
.carrosselDeVideos::-webkit-scrollbar {
    width: 0;
    height: var(--2x);
}
.carrosselDeVideos::-webkit-scrollbar-track {
    background: var(--background2);
}
.carrosselDeVideos::-webkit-scrollbar-thumb {
    background-color: var(--texto-secundario);
    border-radius: 3px;
}

.videoCard {
    min-width: 400px;
    padding: var(--5x) 0;
    background: var(--background3);
}
.videoCard iframe {
    width: 100%;
    min-height: 200px;
    height: auto;
}
.videoCard h4 {
    font-size: var(--mediano);
    padding: var(--1x);
    text-align: center;
}
/* ======== formulário ============= */

form {
    align-self: center;
    display: grid;
    width: 80%;
    min-width: 300px;
}
label {
    font-weight: 600;
    letter-spacing: 1px;
}
input,
select,
textarea {
    margin-bottom: var(--4x);
    width: 100%;
    padding: var(--3x);
    border: 1px solid var(--borda);
    font-size: var(--pequeno);
    resize: none;
}
button {
    width: 150px;
    height: 40px;
    font-size: var(--pequeno);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    background-color: var(--secundario);
    cursor: pointer;
    color: white;
    border: none;
}
button:hover {
    background-color: var(--primario);
}

/* ======== aside ============= */
aside {
    padding: 140px var(--8x);
    display: flex;
    flex-direction: column;
    gap: var(--10x);
}
.cardLateral {
    width: 100%;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: var(--5x);
    border-radius: var(--1x);
}
.cardLateral h4 {
    font-weight: 600;
    color: var(--secundario);
    padding: var(--2x) 0;
    margin-bottom: var(--4x);
    font-size: var(--mediano);
    border-bottom: 1px solid var(--borda);
}
.cardLateral ul {
    padding: var(--3x) 0;
    display: flex;
    flex-direction: column;
    gap: var(--2x);
    list-style: none;
}
.cardLateral ul li ul li {
    margin: 0 var(--6x);
    list-style: disc;
    text-align: justify;
}
.cardLateral ul li ul li:hover {
    background: var(--background);
}
.cardLateral ul h5 {
    font-size: var(--pequeno);
}
.cardLateral ul li a {
    font-size: var(--muito-pequeno);

    color: var(--texto-primario);
    width: 100%;
}
.cardLateral ul li a:hover {
    color: var(--secundario-hover);
    font-weight: 400;
}

/* =========== footer ==================*/
footer {
    padding: var(--10x);
    background-color: var(--primario-hover);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer div {
    width: 30%;
}
footer div h3 {
    padding-top: var(--5x);
    padding-bottom: var(--2x);
    color: white;
    font-size: var(--medio);
}
footer div ul {
    padding: var(--1x);
    padding-left: var(--2x);
    list-style: none;
    text-decoration: none;
    display: grid;
    gap: var(--2x);
}
footer div ul li a {
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: var(--pequeno);
}
footer div ul li a:hover {
    color: var(--contraste);
}
footer h2 {
    color: white;
    letter-spacing: 2px;
    padding-bottom: var(--6x);
    width: 100%;
    font-size: 40px;
    text-transform: none;
}
footer h3 {
    color: white;
    font-weight: 500;
    text-transform: none;
    font-size: var(--medio);
}
footer h3 strong {
    letter-spacing: 1px;
}
/* ############### MEDIA QUERY (MEDIUM DEVICES) ######################### */
@media screen and (max-width: 1024px) {
    body{
        justify-content: center;
    }
    main{
        width: 100%;
        padding: 100px 10%;
    }
    aside{
        width: 80%;
        align-self: center;
    }
    
    .imagemCardDeArtigo {
        height: 100%;
        width: 300px;
    }
    h1 {
        font-size: var(--muito-grande) !important;
    }
    h2 {
        font-size: var(--muito-grande) !important;
    }
    h3 {
        font-size: var(--grande) !important;
    }
    h4 {
        font-size: var(--medio) !important;
    }
    p,
    td,
    th {
        font-size: var(--muito-pequeno) !important;
    }
}
/* ############### MEDIA QUERY (SMALL DEVICES) ######################### */
@media screen and (max-width: 860px) {
    header {
        padding: var(--2x);
    }
    main,
    aside {
        padding: 80px 1%;
        padding-top: 70px;
    }
    section {
        padding: var(--2x);
    }
    h1 {
        font-size: var(--muito-pequeno) !important;
    }
    h2 {
        font-size: var(--grande) !important;
    }
    h3 {
        font-size: var(--medio) !important;
    }
    h4 {
        font-size: var(--pequeno) !important;
    }
    p,
    span {
        font-size: 0.75rem !important;
    }
    table {
        max-width: 100vh;
        overflow: scroll;
    }
    td,
    th {
        padding:0;
        font-size: var(--muito-muito-pequeno) !important;
    }
    td img{
        width: 75px;
        height: 75px;
    }
    footer {
        padding: var(--10x) var(--4x);
    }
    footer a {
        font-size: var(--muito-pequeno) !important;
    }
    footer h3 {
        font-size: var(--pequeno) !important;
    }
    footer div ul li a {
        list-style: none;
        text-decoration: none;
        color: white;
        font-size: var(--muito-muito-pequeno);
    }
    nav {
        gap: var(--2x);
    }
    .navLink {
        font-size: 0.75rem;
    }
    .imagemCardDeArtigo {
        height: 120px;
        width: 120px;
    }
    .conteudoCardDeArtigo {
        padding: 0;
    }
}
